<h3>Ask your coach anything</h3>
<form class="row g-3" action="/answer" method="get" data-turbo="false">
  <div class="col-auto d-inline-flex">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary ms-1" type="submit" value="Ask!">
  </div>
</form>
